body{
    background-color: red;
}

/* titulo e imagen de primera */

.imagen_entrada{
    border: 1px black solid;
    height: 577px;
    background-color: #24a19c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

};
/* h1{
    color: red;
    text-align: center;
    text-transform: capitalize;
        };
        h1:hover, h1:active{
            color: red;

        }; */

/* carrusel con imagenes */

.carousel_redes{
 border: 1px black solid;
 
}

.carousel{
border: 1px red solid;
width: 50%;
height: 40%;
margin-left: 320px;
background-color: black;

}


.imag{
    width: 100%;
height: 50%;
}



/* ---------------------------------cards */
/* imagenes de la card */

.card-img{

}

/* cards como tal */
/* direccion y ubicacion; texto y color de las cards */
.cards_father{
    display: flex;
 flex-wrap: wrap;
 overflow: auto;
 justify-content: space-between;
 text-align: center;
 text-transform: capitalize;
 color: red;
 
}



/* tamaño de als cards */
.mycard{
 border: none;
 width: 30%;
height: 40%;
};

