/* titulo e imagen de primera */
.imagen_entrada{
    border: 1px black solid;
    height: 577px;
    background-color: #24a19c;
    display: flex;
    justify-content: center;
    align-items: center;
};
h1{
    color: red;
    text-align: center;
    };
/* carrusel con imagenes */

.carousel-inner{
    display: flex;
    justify-content: center;
    
};

.carousel-item.active{
    padding-left: 240px;
    background-color: #6ebfb5;
};
/* cards */
/* imagenes de la card */
.card-img{
    width: 100px;
    height: 100px;
};

/* cards como tal */
.card{
    
}