
h1{
    color: red;
    text-align: center;
    background-image: url(https://w7.pngwing.com/pngs/923/53/png-transparent-pink-flowers-paper-pink-flowers-rose-hand-painted-floral-pink-flowers-decorative-background-pink-petaled-flowers-illustration-watercolor-painting-flower-arranging-textile-thumbnail.png)
};
.
.carousel slide{
    display: flex;
    justify-items: center;
    width: 300px;
    height: 700px;
}
.ima{
    
    height: 300px;
}

/* .mycarousel{
    width: 200px;
    height: 300px;
} */
    
   